@import url(https://fonts.googleapis.com/css?family=lato);
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  position: relative;
  float: right;
  margin-right: 100px;
  display: inline-table;
}

nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.05);
}

nav ul li:hover > ul {
  display: block;
}

nav ul li a {
  display: block;
  padding: 30px 20px;
  color: black;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul ul {
  display: none;
  background: white;
  position: absolute;
  top: 100%;
  -webkit-box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li a {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 2rem;
  background-color: rgba(131, 109, 97, 0.5);
}

h1 {
  margin: 0;
  font-size: 3.8rem;
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

figure {
  margin: 0;
  background: rgba(123, 123, 123, 0.5);
  -webkit-box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
}

p {
  margin: 0;
  padding: 1.8rem;
  background-color: rgba(123, 123, 123, 0.5);
  -webkit-box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.grid {
  --verticalPadding: 2rem;
  --overlap: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr 4fr 2fr 3fr 3fr 2fr 4fr 1fr 5fr;
      grid-template-columns: 5fr 1fr 4fr 2fr 3fr 3fr 2fr 4fr 1fr 5fr;
  -ms-grid-rows: [header-start] auto [fig1-start] 3rem [header-end] minmax(var(--verticalPadding), auto) [p1-start] minmax(0, auto) [p1-end] minmax(var(--verticalPadding), auto) [fig2-start] var(--overlap) [fig1-end] minmax(var(--verticalPadding), auto) [p2-start] minmax(0, auto) [p2-end] minmax(var(--verticalPadding), auto) [fig3-start] var(--overlap) [fig2-end] minmax(var(--verticalPadding), auto) [p3-start] minmax(0, auto) [p3-end] minmax(var(--verticalPadding), auto) [fig3-end];
      grid-template-rows: [header-start] auto [fig1-start] 3rem [header-end] minmax(var(--verticalPadding), auto) [p1-start] minmax(0, auto) [p1-end] minmax(var(--verticalPadding), auto) [fig2-start] var(--overlap) [fig1-end] minmax(var(--verticalPadding), auto) [p2-start] minmax(0, auto) [p2-end] minmax(var(--verticalPadding), auto) [fig3-start] var(--overlap) [fig2-end] minmax(var(--verticalPadding), auto) [p3-start] minmax(0, auto) [p3-end] minmax(var(--verticalPadding), auto) [fig3-end];
  grid-auto-rows: minmax(var(--verticalPadding), auto);
  gap: 1rem;
  max-width: 75rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid::before, .grid::after {
  content: '';
  display: block;
}

header {
  grid-column: 1 / -2;
  grid-row: header;
  padding: 2rem;
  -webkit-box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  background-color: rgba(123, 123, 123, 0.5);
}

.fig--1 {
  grid-column: span 5 / -1;
  grid-row: fig1;
}

.fig--2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  grid-row: fig2;
}

.fig--3 {
  grid-column: span 5 / -2;
  grid-row: fig3;
}

.fig--3 img {
  -o-object-position: left;
     object-position: left;
}

p:first-of-type {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / span 4;
  grid-row: p1;
  z-index: 1;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

p:nth-of-type(2) {
  grid-column: span 3 / -3;
  grid-row: p2;
  -webkit-transform: rotate(0.8deg);
          transform: rotate(0.8deg);
}

p:nth-of-type(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
  grid-row: p3;
  -webkit-transform: rotate(-0.7deg);
          transform: rotate(-0.7deg);
}

[style*="--aspect-ratio"] {
  position: relative;
}

[style*="--aspect-ratio"]::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

[style*="--aspect-ratio"] > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
/*# sourceMappingURL=about.css.map */