@import url(https://fonts.googleapis.com/css?family=lato);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css); /*small symbols*/
$maincolor: #e48ad8;
$secondarycolor: rgb(42, 43, 57);

*, *:before, *:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:rgba(255, 255, 255, .35);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.1);
	z-index: 15;
}
nav ul{
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
}
nav ul li{
    float:left;
    transition: all .2s ease-in-out;
}

nav ul li:hover{
    background: rgba(0,0,0,.5);
}
nav ul li:hover > ul{
    display: block;
}
nav ul li a{
    display: block;
    padding:30px 20px;
    color:$secondarycolor;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul ul{
    display:none;
    background: white;
    position: absolute;
    top:100%;
    box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
}
nav ul ul li{
    float:none;
    position:relative;
}
nav ul ul li a{
    padding:15px 30px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

html {
	scroll-behavior: smooth;
}

body{
	font-family: 'Lato', sans-serif;
	background-image: url(./pink.jpg);	
	background-size: cover;	
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
p{
	padding:0;
	margin:0;
	display: relative;
}

h1{
	color: $secondarycolor;
}

h2{
	color: $secondarycolor;
}

.container{
	position: relative;
	text-align: justify;
	width:100%;
	color:$secondarycolor;
	font-weight: 300;
	padding: .4em;
	background: rgba(211, 211, 211, .5);
}
 
.card_body {
	background-color: #f0f0f0;
	color: gray;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
	padding: 1rem;
	bottom: 0;
  }
  
  img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
  }
  
  .btn {
	background-color: rgb(229, 139, 217);
	border: 1px solid lightgray;
	color:  rgb(42, 43, 57);
	padding: 0.5rem;
	text-transform: uppercase;
  }
  
  .btn_block {
	display: block;
	width: 100%;
  }
   
  .cards {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .cards_item{
	display: flex;
	padding: 1rem;
	@media(min-width: 40rem) {
	  width: 50%;
	}
	@media(min-width: 56rem) {
	  width: 33.3333%;
	}
  }
  
  .card {
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&:hover {
	  .image {
		filter: contrast(100%);
	  }
	}
  }
  
  .content {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: 1rem;
  }
  
  .image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	filter: contrast(70%);
	overflow: hidden;
	position: relative;
	transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
	&::before {
	  content: "";
		display: block;
	  padding-top: 56.25%; 
	}
	@media(min-width: 40rem) {
	  &::before {
		padding-top: 66.6%; 
	  }
	}
  }
  
  .image_html {
	background-image: url(./html.png);
  }
  
  .image_css {
	background-image: url(./css-icon.jpg);
  }
  
  .image_ruby {
	background-image: url(./ruby-logo.png);
  }
  
  .title {
	color:  rgb(42, 43, 57);
	font-size: 1.25rem;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
  }
  
  .text {
	flex: 1 1 auto;
	font-size: 0.875rem;
	line-height: 1.5;
	margin-bottom: 1.25rem;
  }
  

@media only screen and (max-width: 315px){
	.contactcard{
		display: flex;
		height:300px;
		width:408px;	
		overflow: scroll;
	}
}