@import url(https://fonts.googleapis.com/css?family=lato);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css);
/*small symbols*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 15;
}

nav ul {
  list-style: none;
  position: relative;
  float: right;
  margin-right: 100px;
  display: inline-table;
}

nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.5);
}

nav ul li:hover > ul {
  display: block;
}

nav ul li a {
  display: block;
  padding: 30px 20px;
  color: #2a2b39;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul ul {
  display: none;
  background: white;
  position: absolute;
  top: 100%;
  -webkit-box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li a {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url(./pink.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 9;
}

p {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  color: #2a2b39;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #e48ad8;
}

.contactcard {
  height: 320px;
  width: 428px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 43px -10px black;
          box-shadow: 0px 0px 43px -10px black;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contactcard .flip {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contactcard .front {
  z-index: 11;
  width: 100%;
  position: absolute;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.45);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.contactcard .front .top {
  height: 50%;
  background: #2a2b39;
}

.contactcard .front .top:after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.contactcard .front .top:after {
  left: 50%;
  width: 2em;
  height: 2em;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  bottom: 9em;
  z-index: 10;
  background: inherit;
}

.contactcard .front .top .logo {
  display: inline-block;
  background: #e48ad8;
  color: #fff;
  z-index: 11;
  padding: .16em;
  border: 8px solid #fff;
  position: relative;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  margin-top: .4em;
  font-size: 4em;
}

.contactcard .front .top .logo .initial {
  font-weight: 800;
}

.contactcard .front .top .logo .flipped {
  font-weight: 100;
}

.contactcard .front .details {
  margin-top: 2.4em;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 8;
}

.contactcard .front .name {
  color: #2a2b39;
  font-weight: 400;
  font-size: 3.2em;
  text-align: center;
  position: relative;
  margin-bottom: .35em;
}

.contactcard .front .name:after {
  content: '';
  position: absolute;
  top: 1.3em;
  width: 20%;
  left: 40%;
  right: 40%;
  height: 1px;
  background: #2a2b39;
}

.contactcard .front .position {
  text-align: center;
  color: #2a2b39;
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}

.contactcard .front .contact {
  color: #2a2b39;
  margin-left: 1.7em;
  font-weight: 300;
  font-size: 1.6em;
  -webkit-transform: translateY(400%);
          transform: translateY(400%);
}

.contactcard .front .contact span {
  color: #2D3244;
  font-size: 1.7em;
  width: 1.3em;
  display: inline-block;
}

.contactcard .front .contact a {
  position: relative;
  bottom: .24em;
}

.contactcard .back {
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
}

.container {
  position: absolute;
  text-align: justify;
  bottom: 0;
  width: 100%;
  color: #2a2b39;
  font-weight: 300;
  padding: .4em;
  background: white;
  z-index: 7;
}

/* Hover animation */
.front .top .logo, .front .top, .front .top:after, .front .details, .front .contact {
  -webkit-transition: 0.7s all ease-in-out;
  transition: 0.7s all ease-in-out;
}

.flip:hover .front .top .logo {
  margin-top: .28em;
  font-size: 1.3em;
  border: 3px solid #fff;
  margin-left: .15em;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  left: 0;
}

.flip:hover .front .top {
  height: 15%;
}

.flip:hover .front .top:after {
  width: 1.5em;
  height: 1.5em;
  bottom: 16.3em;
}

.flip:hover .front .details {
  -webkit-transform: translateY(400%);
          transform: translateY(400%);
}

.flip:hover .front .contact {
  -webkit-transform: translateY(-52%);
          transform: translateY(-52%);
}

@media only screen and (max-width: 315px) {
  .contactcard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    width: 408px;
    overflow: scroll;
  }
}
/*# sourceMappingURL=about.css.map */